<!-- c-form-success - при успешной отправке формы -->
  <!-- ВНИМАНИЕ!!! style="display: block;" убрать после реализации отправки формы -->
  <!--<div class="c-form-success" style="display: block;">
      <i class="icon-success"></i>Сообщение успешно отправлено
  </div>
  -->
  <!-- ВНИМАНИЕ!!! style="display: block;" убрать после реализации отправки формы -->
  <!-- c-form-error - блок с сообщениями об ошибках -->
  <!--<div class="c-form-error" style="display: block;">
      <i class="icon-error"></i>
      К сожалению произошла ошибка,
      неверно указан номер
  </div>
  -->
<form class="c-form-callback">
    <div class="c-form-callback__title">Обратная </br> связь</div>
    <div class="c-form-callback__item">
        <label class="c-form-callback__label">
            <span>Имя</span>
            <input class="c-input" type="text" placeholder="Имя" />
        </label>
    </div>
    <div class="c-form-callback__item">
        <label class="c-form-callback__label">
            <span>Телефон</span>
            <input class="c-input" type="tel" placeholder="Телефон" />
        </label>
    </div>
    <div class="c-form-callback__item">
        <label class="c-form-callback__label">
            <span>E-mail</span>
            <input class="c-input" type="email" placeholder="E-mai" />
        </label>
    </div>
    <div class="c-form-callback__item">
        <label class="c-form-callback__label">
            <span>Сообщение</span>
            <textarea class="c-input" placeholder="Сообщение"></textarea>
        </label>
    </div>

    <div class="c-form-callback__item">
        <div class="c-form-callback__policity">Нажимая «Отправить» вы соглашаетесь с <br /> обработкой персональных данных</div>
    </div>
    <div class="c-form-callback__submit">
        <button class="c-btn" type="submit">Отправить</button>
    </div>
  </form>