        </main>
        <footer class="l-footer">
            <div class="l-footer__container">
                <div class="l-footer__menu">
                    <nav class="с-footer-menu">
                        <ul>
                            <li><a href="#about">о&nbsp;нас</a></li>
                            <li><a href="#services">Услуги</a></li>
                            <li><a href="./text.html">Текстовая</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="l-footer__address">
                    City, street <br />
                    country
                </a>
                <div class="l-footer__info">
                    <a href="tel:+79998887766">+7 999 888 7766</a>
                    <a href="mailto:template@mail.com">template@mail.com</a>
                </div>
            </div>
        </footer>

        <a href="#" class="c-btn-up js-btn-up">в начало</a>

        <script src="js/bundle.js"></script>
        <% if ( typeof (js)  != 'undefined' ) { %>
        <script src="js/<%=js%>.js"></script>
        <% } %>

    </body>
</html>